@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,600;0,700;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');

html{
  overflow-x:hidden;
  font-family: 'Dosis', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left:2vw;
}

.nav-link{
  display:flex;
  flex-direction: row;
  gap:2vw;
 font-size:1vw; 
 font-weight: 550;
 /* margin-top:1.7vw; */
 text-align: center;
 cursor:pointer;
}

.nav-link:hover{
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}

body{
  background-color:#ebf0f0f7;
  margin:0;
}
#main_heading{
  font-weight: 900;
  font-size:2vw;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:10px;
  cursor:pointer;
}
#main_icon{
  vertical-align:center;
}
#first_div{
    margin:1vw auto;
    display:flex;
    flex-direction:row;
    gap:9vw;
    align-items: center;
    /* every items jo element ka andar usko given align mai fix karega i.e div1 aur div2 hai aur div1 phele upar hai aur div2 todha upar tab dono ko given align mai fix krega(i.e center rha toh center karega)(in case of justify -items and align items)
     in case of justify-content aur align content mai given content ko hi align karega iska andar ka items ko ny*/
    justify-content: center;
    /* position:fixed;
    top:0%;
     left:1vw;
     background-color: #e6e6e6;
     margin-top:0; */
}
#first_1div{
    display:flex;
    flex-direction: row;
    gap:2vw;
   font-size:1vw; 
   font-weight: 550;
   /* margin-top:1.7vw; */
   text-align: center;
   cursor:pointer;
}
 #search_id{
  border: 0px;
   font-weight: 550;
   font-size:1vw;
   outline:0;
  }
  #imicon{
    vertical-align: middle;
    /* vertical align is use to align the icon/images(i.e vertically align) with the text */
    /* what is difference between middle and baseline */
 }
 #search_section{
    border-radius:50px 50px 50px 50px;
    /* height:3.9vh; */
    background-color: white;
    display:flex;
    flex-direction:row;
    align-items: center;
    padding:0.5vw;
    font-family: 'Dosis', sans-serif;
 }

#right_most{
  display:flex;
  font-family: 'Dosis', sans-serif;
  flex-direction: row;
  align-items: center;
  gap:15px;
}
#my_account{
  font-weight:490;
  cursor:pointer;
  font-size:1.15vw;
}
#create_account{
  border-radius:50px 50px 50px 50px;
  font-weight:490;
  cursor:pointer;
  background-color: hsl(30, 100%, 65%);
  padding:0.9vw 1.9vw 0.9vw 1.9vw;
  box-sizing: border-box;
  font-size:1.15vw;
}
#backsquare{
  width:40px;
  height:40px;
  background-color:#e6e6e6;
  border-radius: 50%;
  box-sizing: border-box;
  position:relative;
}
#play_icon1{
  width:11.5px;
  height:13px;
  position:absolute;
  left:40%;
  top:35%;
  cursor:pointer;
}
#left_mainpart{
  display:flex;
  flex-direction: column;
  /* justify-content: center; */
  gap:5vh;
  margin-top:5vh;
  margin-bottom:-50px;
}
#buttonsmainpart{
  display:flex;
  flex-direction: row;
  gap:30px;
}
#play_b{
  display:flex;
  flex-direction: row;
  align-items: center;
  gap:8px;
  font-size:1.2vw;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
}
.orange_button{
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  width:130px;
  height:45px;
  border-radius:5px;
  background-color: rgb(255, 162, 0);
  border:0px;
  color:white;
  font-size:1.3vw;
  cursor:pointer;
}
#first_mainpart{
  display:flex;
  flex-direction: row;
  margin-top:5vh;
  gap:1vw;
  margin-left:1vw;
}
#main_state{
  font-size: 6vw;
  font-weight:500;
  font-family: 'Dosis', sans-serif;
}
#sideby{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:1vw;
}
#grow_up{
color: rgb(255, 162, 0);
}
#education{
  color:rgb(68, 67, 67);
  font-weight: 600;
}
#mini_state{
 text-align: justify;
 line-height:50px;
 font-size:1.5vw;
}
#second_mainpart{
  background-color: white;
  border-radius:20px;
  margin-top:6vw;
  margin-right:2vw;
  margin-left:2vw;
  box-sizing: border-box;
  box-shadow:-1px 6px 10px grey;
  width:95vw;
  height:max-content;
  display:flex;
  flex-direction: column;
}

#sec_fi{
display:flex;
flex-direction:rows;
font-size:2vw;
align-items:center;
padding:15px;
position:relative;
}

#sec_se{
  display:flex;
  font-size:2vw;
  padding:15px;
  align-items: center;
  position:relative;
}

#sec_th{
  display:flex;
  flex-direction:row;
  justify-content:center;
  gap:8vw;
}
.iconset{
  width:11vw;
  height:13vh;
}
#stars{
  width:15vw;
  height:10vh;
  margin-left:auto;
}
#rate{
  font-size:1vw;
  font-weight:1000;
  margin-left:auto;
}
#third_fe{
   display:flex;
   flex-direction:row;
   position:relative;
   margin-left:1vw;
   margin-top:10vh;
   align-items:center;
}
.Trend{
  font-size:2.5vw;
  font-weight:900;
}
#browse_all{
  /* position:absolute;
  left:86vw; */
  margin-left:auto;
  margin-right:0.5vw;
}
#third_mainpart{
  display:flex;
  flex-direction:column;
  gap:6vh;
}
#third_se{
  display:grid;
  grid-auto-columns:18vw;
  grid-auto-rows:19vw;
  grid-template-columns:repeat(4,21vw);
  column-gap:1vw;
  row-gap:1vw;
  margin-left:5.5vw;
  margin-right:1vw;
}
.cardsbc{
  background-color:white;
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;
  align-items:center;
  /* align-content and justify-content works only if the flex-wrap set to the wrap  */
  /* align-items and justify-items works only if the flex-wrap set to the nowrap  */
  box-shadow:0px 2px 4px grey;
  border-radius:30px;
  justify-content:center;
  cursor:pointer;
}
.imagesbc{
  width:10vw;
  height:10vw;
}
.erd{
  margin-top: 1vw;
  font-size:2vw;
  font-weight: 300;
}
.erd1{
  font-size:2vw;
  font-weight: 300;
  margin: auto;
}
.titlebc{
  font-size:2vw;
  font-family: 'Dosis', sans-serif;
  font-weight:500;
}
.basicbc{
  font-size:1.5vw;
  font-weight: 100;
  font-family: 'Dosis', sans-serif;
}
#sortByrel{
  width:9vw;
  display:flex;
  flex-direction:row;
  align-items:center;
  gap:4px;
  position:absolute;
  left:87%;
  box-sizing: border-box;
  font-size:0.9vw;
}
#sortbyrelicon{
  display:flex;
  flex-direction:column;
}
.thth{
  line-height:88%;
  box-sizing: border-box;
  font-size:15.5px;
  /* sometimes if to adjust the size of the icons only we can adjust using font-size */
}
#fifof{
  display:flex;
  flex-direction: rows;
  align-items:center;
  position:relative;
}
#fourthsec{
  margin-left:1.5vw;
  margin-top:3vh;
}
/* .erd{
  margin-top:1vh;
  font-size:1.2vw;
  font-family: 'Dosis', sans-serif;
  font-weight:360;
} */
#SecondFourth{
  display:grid;
  grid-template-columns: repeat(3,30vw);
  /* if you using grid-auto-flow grid items inside container is automatically fill in same flow(i.e column or in rows) with or without grid-template-columns/rows:repeat(n,l)
  grid-auto-flow:columns*/
  row-gap:20vh;
  column-gap:2vw;
  margin-top:15vh;
  margin-left:4.5vw;
}
.course_Image{
width:19.5vw;
height:24vh;
border-radius:10px;
margin:auto;  
transform:translateY(-3.5vw); 
margin-bottom:-5vh;
}
.lessonicon{
  width:1.2vw;
  height:1.2vw;
  background-color:#e6e6e6;
  border-radius: 50%;
  position:relative;
}
.playiconlesson{
  width:0.85vw;
  height:0.85vw;
  position:absolute;
  left:25%;
  top:15%;
}
.stopwatchicon{
 width:1.9vw;
 height:1.9vw;
}
.starsiconsclass{
  width:100px;
  height:30px;
}
.arrowsquare{
  width:2vw;
  height:2vw;
  border-radius: 50%;
  background-color: black;
  position:relative;
  cursor: pointer;
}
.arrowsquare:active{
   background-color:rgb(72, 70, 70,0.7);
}
.cardsbc:active{
  background-color:rgb(72, 70, 70,0.4);
  color:white;
}
.arrowsquareicon{
 color:white;
 font-size:1.2vw;
 position:absolute;
 left:25%;
 top:8%;
}
.beginner{
  background-color: #e6e6e6;
  padding:0.6vw;
  border-radius:10px;
  font-weight: 700;
  box-sizing: border-box;
  display:flex;
  align-items: baseline;
  margin-top:1.5vh;
  width:6.5vw;
  font-size:1vw;
  gap:0.3vw;
  cursor:pointer;
}
.circleicon{
  font-size:1vw;
}
.sectionbcmc{
  display:flex;
  flex-direction: row;
  align-items: baseline;
  margin-left:2vw;
  gap:10vw;
}
.price{
  font-family: 'Dosis', sans-serif;
  font-size:1.1vw;
  font-weight: 600;
}
.titlebcmc{
  font-size:1.7vw;
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  /* margin:auto; */
  margin-left:2vw;
  margin-top:1.5vw;
}
.lessonsbc{
  display: flex;
  font-size:1.05vw;
  font-weight:400;
  align-items: center;
  gap:0.7vw;
}
.onlineclassbc{
  font-size:1.1vw;
  font-weight:400;
}
.classesbc{
  display:flex;
  font-family: 'Dosis', sans-serif;
  margin-left:2vw;
  margin-top:5vh;
  gap:5vw;
}
.starsicons{
  display:flex;
  margin-top:2vh;
  align-items: center;
  position:relative;
  gap:10.5vw;
}
.sectionfp{
  color:rgb(148, 145, 145);
}
.startssections{
  display:flex;
  font-size: 1.2vw;
  align-items:center;
  font-family: 'Dosis', sans-serif;
  gap:0.5vw;
  margin-left:2vw;
}
.starsiconsclass{
  width:5.5vw;
  height:1.5vw;
}
.courses{
  display:flex;
  flex-direction:column;
  background-color: white;
  width:23.9vw;
  /* height:40vw; */
  border-radius: 25px;
  box-sizing: border-box;
  /* align-items: center; */
  padding:0.4vw 0.4vw 1.3vw 0.4vw;
  /* margin-top:10vh; */
  /* box-shadow: 0.5px 0.5px 2px 2px rgb(177, 173, 173); */
}
.line{
  height:1px;
  background-color: rgb(212, 208, 208);
  margin-left:2vw;
  margin-top:2vh;
  width:19.8vw;
}
.fifththird{
  display:flex;
  /* text-align: justify; */
  gap:8.4vw;
  width:90vw;
  margin-left:5.07vw;
  /* border:1px solid black; */
   overflow: hidden;
  /* justify-content: center; */
}
.students{
border:1px solid black;
margin-left:1vw;
display:flex;
flex-direction:column;
background-color:white;
width:20vw;
align-items: center;
text-align: justify;
padding:0.5vw 1.5vw;
line-height: 2.2vw;
border-radius: 10px;
font-size:1.3vw;
/* animation-name:translate;
animation-timing-function: linear;
animation-iteration-count: infinite; */
}
.para{
  font-size: 1.1vw;
}
.secontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.professions,.studentname{
   font-weight: bolder;
   margin-bottom:1px;
}
.studentsimage{
  width:10.5vw;
  height:10.5vw; 
  border-radius:50%;
  border:2px solid black;
}
#fifthsec{
  margin-top:10vh;
  display:flex;
  flex-direction: column;
  gap:1vw;
}
.firstfifth{
  font-size:2.5vw;
  margin:auto;
  font-weight: 900;
}
.secondfifth{
  font-size:1vw;
  margin:auto;
  font-weight: 800;
}
footer{
width:100vw;
margin-top:5vh;
box-sizing: border-box;
background-color: rgb(35, 34, 34);
}
#footericon{
  width:2.5vw;
  height:2.5vw;
}
.mainfp{
  display:flex;
  color:rgb(235, 230, 230);
  font-size:1.7vw;
  font-weight:600;
  gap:0.5vw;
  align-items: center;
}
#contentfooter{
  padding-top:4vw;
  padding-left:5.5vw;
  padding-bottom:2.5vw;
  margin-top:5vw;
  display: flex;
  flex-direction:row;
  gap:10vw;
}
.icons{
  width:2vw;
  height:2vw;
}
.footerflex{
  display:flex;
  flex-direction: column;
  gap:1vw;
}
.sectionfp22{
  color:rgb(148, 145, 145);
  width:20vw;
  text-align:justify-content;
  font-family: 'Dosis', sans-serif; 
  line-height:3.5vh
}
.sectionfp1{
  color:rgb(148, 145, 145);
}
.iconss{
  display:flex;
  flex-direction: row;
  gap:10px;
}
.mainfp1{
  color:rgb(235, 230, 230);
  font-size:1.7vw;
  font-weight:600;
}
.icons:hover{
  cursor:pointer;
}
.sectionfp1:hover{
  color:white;
  cursor:pointer;
}
@media (min-width: 600px) and (max-width:1100px) {
  #main_image{
    order:0;
    width:50%;
  }
  .sectionfp ,.author{
    font-size:1.5vw;
  }
  #fourthsec{
    margin-top: 4vh;
  }
  #sortByrel{
    margin-top: 4vh;
  }
  #buttonsmainpart{
    margin-bottom: 3vw;
  }
  #backsquare{
    width:3vw;
    height:3vw;
  }
  #play_icon1{
    width:1vw;
    height:1.2vw;
  }
  .orange_button{
    width:10vw;
    height:5vw;
    font-size:1.5vw;
  }
  #SecondFourth{
    margin-top:10vh;
    row-gap:10vh;
  }
  #first_mainpart{
    margin-top:1vh;
  }
  #mini_state{
    font-size: 2.2vw;
    line-height: 5vw;
  }
}
@media (max-width: 600px) {
  #first_mainpart{
    flex-direction: column;
   align-items: center;
    align-content: center;
    gap:0.2vw;
  }
  #left_mainpart{
    order:1;
    width:93%;
    font-family: 'Dosis', sans-serif;
  }

  #main_image{
    order:0;
    width:90%;
  }
  #main_state{
    font-size:11vw;
    text-align: justify;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
  }
  #mini_state{
    font-size:5vw;
    line-height:10vw;
    font-weight:400;
  }
  #buttonsmainpart{
    margin: auto;
    align-items: center;
    margin-bottom:15vw;
  }
  #try_now,#browse_all{
    padding:0px;
    box-sizing: border-box;
    width: 18vw;
    height:9vw;
    font-size:4vw;
  }
  .Trend{
    font-size:5.5vw;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
  }
  #browse_all{
    width:auto;
    height:auto;
    padding: 7px;
    font-size:3vw;
    margin-right:2vw;
    box-sizing: border-box;
  }
  #play_b{
    font-size:4vw;
    display:flex;
    flex-direction: row;
  }
  #backsquare{
    width:7vw;
    height:7vw;
  }
  #play_icon1{
    width:2vw;
    height:2vw;
  }
  #second_mainpart{
    box-sizing:border-box;
    font-family: 'Dosis', sans-serif;
    border-radius:15px;
    gap:0.5vw;
    width:95vw;
    /* position:fixed; */
  }
  #sec_fi{
    font-size: 2.5vw;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:0.5vw;
  }
  #sec_se{
    font-size: 2.5vw;
    padding-left:15px;
    padding-right:15px; 
    padding-top:0.5vw;
  }
  #rate{
    font-size: 1.5vw;
  }
  .iconset{
    width:9vw;
    height:8vw;
  }
  #stars{
    width:9vw;
    height:8vw;
    /* left:87%; */
  }
  #third_se{
    display:flex;
    width:85%;
    /* border:1px solid black; */
    margin:auto;
    overflow: hidden;
    padding:3px;
    gap:3.7vw;
  }
  .cardsbc{
    border-radius:10px;
    width:60vw;
    height:40vw;
    margin:auto;
    box-sizing: border-box;
    padding-left:10vw;
    padding-right:10vw;
    padding-top:3vw;
    padding-bottom:3vw;
    gap:2vw;
    text-align: center;
  }
  .titlebc{
    font-family: 'Dosis', sans-serif;
    font-size:3.5vw;
    font-weight: 700;
  }
  .basicbc{
    font-family: 'Dosis', sans-serif;
    font-size:2.5vw;
    font-weight: 400;
  }
  .Trend{
    margin:auto;
    font-size:6.5vw;
  }
  #third_mainpart{
    gap:0;
  }
  .imagesbc{
    width:17vw;
    height:17vw;
  }
  .with_arrow{
    display: flex;
    align-items: center;
    margin:3vw;
  }
  .left_arrow{
    font-size:5.5vw; 
    color:grey;
  }
  .right_arrow{
    font-size:5.5vw; 
    color:black;
  }
  .erd,.erd1{
    text-align: center;
    font-size:4vw; 
    margin-top:3vw;
    margin-left:1vw;
    margin-right:1vw;
    font-weight:300;
  }
  .erd1{
    margin-top:2vw;
    margin-bottom: 2vw;
  }
  .secondfifth{
    margin-top: 0.3vw;
    margin-bottom:3vw;
  }
  #SecondFourth{
    display:flex;
    flex-direction: row;
    margin-top:12vw;
    gap:8vw;
    overflow-x:clip;
    margin-left: 1vw;
    padding:2vw;
    width:100%;
  }
  .courses{
    box-sizing: border-box;
    width:max-content;
    height:max-content;
    padding-left:3.5vw;
    padding-right:3.5vw;
    box-sizing: border-box;
    border-radius: 2.5vw;
    align-items: center;
    padding-bottom:2vw;
    cursor: pointer;
    box-shadow:2px 2px 10px black;
  }
  .left_arrow1{
    align-items:first baseline;
  }

  .titlebcmc{
    font-family: 'Dosis', sans-serif;
    font-size:3vw;
    font-weight: 400;
    margin-left:0;
    margin-top: 3vw;
  }
  .price{
    font-family: 'Dosis', sans-serif;
    font-size:1.7vw;
    font-weight: 400;
  }
  .sectionbcmc{
    margin-left:0;
    gap:15vw;
    margin-top:0.1vw;
  }
  .classesbc{
    margin-top: 4vw;
    margin-left:0;
    gap:8.5vw;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
  }
  .lessonicon{
    width:2vw;
    height: 2vw;
  }
  .lessona{
    font-size:1.7vw;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
  }
  .lessona1{
    font-size:1.4vw;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
  }
  .arrowsquare{
    width:2.5vw;
    height:2.5vw;
  }
  .arrowsquareicon{
    font-size:1.5vw;
    display: flex;
    flex-wrap: wrap;
    top:7%;
    align-content: center;
    margin:auto;
  }
  .playiconlesson{
    width:1vw;
    height:1vw;
    top:25%;
    left:28%;
  }
  .course_Image{
    width:30vw;
    height:21vw;
    translate:0 -3vw;
    margin-bottom:-5.5vh;
  }
  .starsicons{
    gap:15vw;
    margin-top:2vw;
    margin-left:-2vw;
  }
  .starsiconsclass{
    width:7.5vw;
  }
  .back{
    margin-bottom:1vw;
    margin-top: 1vw;
  }
  .beginner{
    border-radius: 0.5vw;
    font-size:1.5vw;
    width:max-content;
    height:max-content;
    font-family: 'Dosis', sans-serif;
    padding:0.8vw;
  }
  .circleicon{
    font-size:1.2vw;
    align-items:first baseline;
  }
  .line{
    width:24vw;
    margin-left:0.5vw;
    margin-top:3vw;
  }
  .students{
    width:35vw;
    height:25vw;
    /* font-size:1vw; */
    display: flex;
    flex-direction: row;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .studentsimagecontainer{
    margin:0;
    height:100%;
    border-radius:10px;
  }
.studentsimage{
  width:13vw;
  height:100%;
  border-radius:10px 5px 5px 10px;
  border:0;
  /* margin:0; */
}
.secontainer{
  align-items: flex-start;
  margin-left:1vw;
  gap:0.6vh;
}
.para{
  font-size: 1.2vw;
}
#contentfooter{
  flex-direction: column;
  align-items: center;
}
.sectionfp{
  text-align: center;
  font-size:2.7vw;
  line-height: 4vh;
  font-family: 'Dosis', sans-serif;
  color:rgb(148, 145, 145);
}
#fp1{
  align-items: center;
}
.mainfp{
  gap:2vw;
  align-items: center;
  font-size:5vw;
  font-family: 'Dosis', sans-serif;
}
#footericon{
  width:5vw;
  height:5vw;
}
#fifthsec{
  margin-top: 0;
}
.mainfp1{
  font-size:3vw;
  margin:auto;
  font-family: 'Dosis', sans-serif;
}
.author{
  font-size:2.5vw;
  font-family: 'Dosis', sans-serif;
}
.nav-menu {
  position: fixed;
  left: -108vw;
  top: 3rem;
  flex-direction: column;
  background-color:rgb(63, 63, 63);
  width: 100%;
  border-radius: 5px;
  text-align: center;
  transition: 0.3s;
  box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
}
.nav-link{
  font-size: 2.5vw;
  margin-left:auto;
  color:white;
  font-family: 'Dosis', sans-serif;
}
.nav-menu.active {
  left: -8%;
}

.nav-item {
  margin:2vw 0vw 2vw 0vw;
}

.hamburger {
  display: block;
  cursor: pointer;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
#mains{
  font-size: 4vw;
  font-family: 'Dosis', sans-serif;
}
}
